# https://github.com/grafana/mimir/tree/main/operations/helm/charts/mimir-distributed
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mimir-cluster
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: monitoring
  destination:
    server: https://kubernetes.default.svc
    namespace: mimir-cluster
  syncPolicy:
    automated:
      prune: true
      # not default
      allowEmpty: true
      # not default. enable automatic sync when the live cluster's state deviates from the state defined in Git. Default interval 5 secs.
      # selfHeal: true
    syncOptions:
      # - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
  source:
    chart: mimir-distributed
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 2.1.0
    helm:
      releaseName: mimir-cluster
      # not values file stored not relative to this file, but to the repo above.
      valueFiles:
        - small.yaml
        - https://raw.githubusercontent.com/magzim21/magz8s/main/argo-projects/monitoring/values/grafana-mimir-custom.yaml
      # - values/grafana-mimir-custom.yaml
      # - values/grafana-mimir-small-cluster.yaml
      # - https://github.com/magzim21/magz8s/blob/main/argo-projects/monitoring/values/grafana-mimir-custom.yaml
      # - https://github.com/magzim21/magz8s/blob/main/argo-projects/monitoring/values/grafana-mimir-small-cluster.yaml
      parameters:
      # TODO: de-hardcode magz8s-stage-mimir-cluster-minio
        - name: 'serviceAccount.annotations.eks\.amazonaws\.com/role-arn'
          value: "arn:aws:iam::249446252531:role/magz8s-stage-mimir-cluster-minio"