storageClasses: 
  - name: efs-sc
    mountOptions:
    - tls
    parameters:
      provisioningMode: efs-ap
      fileSystemId: '${efs_id}'
      directoryPerms: "700"
      gidRangeStart: "1000"
      gidRangeEnd: "2000"
      basePath: "/dynamic_provisioning"
    reclaimPolicy: Delete
    volumeBindingMode: Immediate